@import "../../../css/less/general.less";

@import "module-style.less";


.editor-styles-wrapper {
	.gutenberg_styles();
	
	.wp-block .mce-content-body {
		line-height:inherit;
	}
	
	.wp-block {
		max-width:@cont_width_def - @blocks_hor_pad * 2 + @gutenberg_block_paddings;
			
			&[data-align="full"] {
				margin-left:auto;
				margin-right:auto;
				
				> .editor-block-list__block-edit {
					margin-left:-28px;
					margin-right:-28px;
					
					@media @monitor_tablet_600 {
						margin-left:0;
						margin-right:0;
					}
					
					&:before {
						left:-14px;
						right:-14px;
					}
				}
			}
		
		&[data-type="core/separator"] {
			margin:44px auto;
			.cl;
		}
		
		&[data-type="core/columns"] {
			padding-top:1px;
			padding-bottom:1px;
		}
		
		@media @monitor_large {
			max-width:@cont_width_large - @blocks_hor_pad * 2 + @gutenberg_block_paddings;
		}
		
		@media @monitor_tablet {
			max-width:@cont_width_full;
		}
	}
	
	@media @monitor_tablet_600 {
		padding-left:@blocks_hor_pad - 14px;
		padding-right:@blocks_hor_pad - 14px;
	}
	
	.enable_sidebar & {
		.wp-block {
			max-width:(@cont_width_def - @blocks_hor_pad * 2) * (@content_width / 100) + @gutenberg_block_paddings;
			
			&[data-align="full"] {
				margin-left:auto;
				margin-right:auto;
				
				> .editor-block-list__block-edit {
					margin-left:-28px;
					margin-right:-28px;
					
					@media @monitor_tablet_600 {
						margin-left:0;
						margin-right:0;
					}
					
					&:before {
						left:-14px;
						right:-14px;
					}
				}
			}
			
			@media @monitor_large {
				max-width:(@cont_width_large - @blocks_hor_pad * 2) * (@content_width / 100) + @gutenberg_block_paddings;
			}
			
			@media @monitor_tablet {
				max-width:@cont_width_full;
			}
		}
	}
	
	
	/** === Change margin for gutenberg block === */
	.editor-block-list__layout {
		.editor-default-block-appender > .editor-default-block-appender__content,
		> .editor-block-list__block > .editor-block-list__block-edit,
		> .editor-block-list__layout > .editor-block-list__block > .editor-block-list__block-edit {
			margin-top:@line_height_pad;
			margin-bottom:@line_height_pad;
			
			&:before {
				top:-8px;
				bottom:-8px;
			}
		}
		
		.block-library-classic__toolbar {
			transform:translateY(-8px);
			
			@media @monitor_tablet_600 {
				padding:0;
			}
		}
		
		.editor-block-list__block {
			.editor-block-contextual-toolbar {
				transform:translateY(-46px);
				
				@media @monitor_tablet_600 {
					transform:none;
				}
			}
			
			&[data-type="core/freeform"] {
				.editor-block-contextual-toolbar {
					transform:translateY(-7px);
					
					@media @monitor_tablet_600 {
						transform:none;
					}
				}
			}
			
			&[data-align=left],
			&[data-align=right] {
				.editor-block-contextual-toolbar {
					transform:translateY(-9px);
				}
			}
		}
	}
	
	.wp-block-columns {
		> .editor-inner-blocks {
			> .editor-block-list__layout {
				> [data-type="core/column"] {
					> .editor-block-list__block-edit {
						&:before {
							top:-8px;
							bottom:-8px;
						}
					}
				}
			}
		}
	}
	
	.wp-block-columns {
		> .editor-inner-blocks {
			> .editor-block-list__layout {
				> [data-type="core/column"] {
					> .editor-block-list__block-edit {
						> div {
							> .editor-inner-blocks {
								margin-top:-20px;
								margin-bottom:-20px;
							}
						}
					}
				}
			}
		}
	}
}



.wp-admin.post-type-post {
	//@post_sing_pad_content + border-width 1px
	@post_sing_pad_content_without: (@post_sing_pad_content - 16px) + 1px;

	.editor-block-list__layout {
		max-width:@cont_width_def - @blocks_hor_pad * 2;
		padding-top:@post_sing_pad_content_without;
		padding-left:@post_sing_pad_content_without;
		padding-right:@post_sing_pad_content_without;
		padding-bottom:0.1px;
		margin-left:auto;
		margin-right:auto;
		.bdrs(4px);
		.bxsh(0, 1px, 1px, 0, .25);
		
		.editor-block-list__layout {
			background-color:rgba(0,0,0,0);
			max-width: none;
			padding-top:0;
			padding-left:0;
			padding-right:0;
			.bdrs(0);
			.bxsh(0, 1px, 1px, 0, 0.0);
		}

		@media @monitor_large {
			max-width:@cont_width_large - @blocks_hor_pad * 2;
		}
		
		@media @monitor_tablet {
			max-width:@cont_width_full;
		}

		.enable_sidebar& {
			max-width:(@cont_width_def - @blocks_hor_pad * 2) * (@content_width / 100);

			@media @monitor_large {
				max-width:(@cont_width_large - @blocks_hor_pad * 2) * (@content_width / 100);
			}
			
			@media @monitor_tablet {
				max-width:@cont_width_full;
			}
		}
	}

	
	.editor-post-title {
		max-width:@cont_width_def - @blocks_hor_pad * 2;
		padding-bottom:@post_sing_pad_content_without;
		margin-left:auto;
		margin-right:auto;
		
		textarea {
			.tac;
		}
	}

	.wp-block {
		width:100%;
		max-width: 100%;

		.editor-block-mover {
			left:auto;
			right:100%;
			margin-right:@line_height_pad * 2;
		}
	}
}